body {background-color: #000;}
footer {color: #fff;}
h1, h2, h3 {font-family: 'Monda', sans-serif;}
p {font-family: 'Roboto', sans-serif;}
a {font-family: 'Roboto', sans-serif; text-decoration: none;}

.slide {
	position: relative;
	width: 100vw;
	height: 550px;
	overflow-x: hidden;
}

.text {
	white-space: pre-wrap;
	
}

#button {
	padding: 10px 0px;
	background-color: #A51C3C;
	width: 25%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	box-shadow: 2px 2px 5px #888;
}

#button p {
	font-family: 'Francois One';
	font-size: 18px;
	color: #000;
}

#s1 {
	background-color: #fff;
	z-index: 1;
	text-align: center;
	margin-top: 40px;
}

#s1 h1 {
	font-size: 150px;
	margin-top: 25px;
	margin-bottom: 0px;
}

#s2 {
	background-color: #D9D6C4;
	z-index: -1;
}

#s3 {
	background-color: #9D9E98;
	z-index: -2;
}

#s4 {
	background-color: #0C5BA0;
	z-index: -3;
}
